<Router AppAssembly="@typeof(TaskPicker.Pages.Index).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(TaskPicker.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(TaskPicker.Shared.MainLayout)">
            <MudContainer MaxWidth="MaxWidth.Small">
                <div class="d-flex flex-column">
                    <MudText Typo="Typo.h3" Class="mt-6 mb-16" Align="Align.Center">Page doesn't exist.</MudText>
                </div>
            </MudContainer>
        </LayoutView>
    </NotFound>
</Router>
